<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
<div class="footer">
    <div class="footer-content">
        <div class="footer-left"> <p>Telefonnummer: +45 1234 5678</p>
            <p>Hjemmeside: <a href="https://www.kinoxp.dk">www.kinoxp.dk</a></p>
        </div>
        <div class="footer-right">   <p>Adresse: KinoXP, Gade 123, 1000 København</p>
            <p>Email: <a href="mailto:kontakt@kinoxp.dk">kontakt@kinoxp.dk</a></p>
            <p><a href="login.html" class="admin-login-link">Log ind som admin</a></p>
        </div></div>
</div>
</body>

</html>
