<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
<div class="header">
    <a href="index.html" class="logo">KinoXP</a>
</div>
<div class="container">
    <h2>Admin Login</h2>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Enter username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter password" required>
        <button type="submit">Login</button>
        <div class="error" id="error-message">Incorrect username or password :(</div>
    </form>
</div>
<script src="../js/login.js" type="module"></script>
</body>
</html>
